@model List<Presentation>;
@{
    ViewData["Title"] = "Index";
}

<h1>UPCOMING PRESENTATIONS</h1>

@foreach(Presentation pres in Model){
    <div>@pres.booktitle by: @pres.bookauthor (@pres.genre)
        <a href="/presentation/editform/@pres.id">Edit</a>
        <a href="/presentation/details/@pres.id">Details</a>
        <a href="/presentation/delete/@pres.id">Delete</a>
    </div>
}