@model List<Category>;
@{
    ViewData["Title"] = "addForm";
}

<h1>addForm</h1>

<form method="post" action="/product/add">
    Name: <input type="text" name="name" /><br />
    Description:<input type="text" name="description" /><br />
    Price:<input type="text" name="price" /><br />
    Inventory:<input type="text" name="inventory" /><br />
    Category:
    <select name="category">
        <option>Select Category</option>
        @foreach(Category cat in Model){
            <option value="@cat.id">@cat.name</option>
        }
    </select>
    <input type="submit" name="save" />
</form>