@model List<Person>;
@{
    ViewData["Title"] = "Index";
}
<p>^Routed these to person/index for easy clickin</p>
<h1>Book Club WOOHOO</h1>

<a href="/person/addform">Add Person</a> <a href="/presentation/addform">Add Presentation</a>
<h2>People involved:</h2>
@foreach(Person per in Model){
    <div>@per.firstname @per.lastname - @per.email          
        <a href="/person/editform/@per.id">Edit</a>
        <a href="/person/details/@per.id">Details</a>
        <a href="/person/delete/@per.id">Delete</a>
    </div>
}